<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shubham.app1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:name="android.support.multidex.MultiDexApplication"
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LearnActivity" />
        <activity android:name=".Flags_Quiz" />
        <activity android:name=".Animal_QuizActivity" />
        <activity android:name=".Animals_Learn" />
        <activity android:name=".Fruits_Learn" />
        <activity android:name=".Colors_Learn" />
        <activity android:name=".Fruits_QuizActivity" />
        <activity android:name=".Color_QuizActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".SecurityPage" />
        <activity
            android:name=".FlagsLearn"
            android:label="@string/title_activity_flags_learn" />
        <activity android:name=".QuizActivity"></activity>
    </application>

</manifest>